* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-primario: #FFFFFF;
    --branco-secundario: #F9F9F9;
    --cinza-terciario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-primario);
}

.principal{
    background-image: url(images/Background.png);
}
